  <div id="container">
    <div id="header">
      <img src="assets/pete.jpg">
        <ul>
          <li>Peter Libreri</li> 
          <li>librpiet@gmail.com</li>
          <a href="http://www.linkedin.com/pub/pietro-libreri/78/82a/69a/" target="_blank">LinkedIn</a>                                                                                                                   
        </ul>
    </div>


    <div id="about">
      <h1>About Me</h1>
      <p>
        My name is Peter Libreri and my interest in perfusion was sparked when I was an undergraduate at Dominican University. At that point in my education I learned that you breathe, your blood absorbs oxygen from your lungs and your heart pumps the blood, transporting oxygen to all the cells of your body. If this natural process stops, you will die. But then I met Mr. Greg Mork, who explained perfusion and his profession as a Perfusionist in a lecture to me at Dominican University. It just sounded so interesting. I found it to be a nice mix of technology and cardiac care, and I said, "Wow, that's what I want to do." So I looked up several programs and found Rush's program to be well rounded in terms of research, teaching, and training.
      </p>
      <p>
        I am excited about entering a profession where you can learn, conduct research, teach, and above all, be on surgical team helping sustain life to those in need. I think it would be gratifying to find ways to save patients' lives: to sustain them artificially, to enable them to have corrective surgery, and most importantly: to see them wake up and walk out of the hospital. I am convinced that perfusion is the right career choice for me. I can contribute my organizational skills and my ability to work well in a group or team. I will also take the education that Rush has provided me with and do my best to not only practice perfusion but to try and make it better.  
      </p>
    </div>

    <div id="resume">
      <h2>Rotation Experience:</h2>
      <ul>
        <li>Indiana University Health, Indianapolis, Indiana</li>
        <li>Methodist Hospital, July 2013-October 2013</li>
        <li>Riley Children's Hospital, July 2013-October 2013</li>
        <li>Loyola University Medical Center, Maywood, Illinois October 2013- February 2014</li>
      </ul>
        </p>
    </div>
    <h3>Equipment used:</h3>
    <ul>
      <li>Sarns 8000 pump</li> 
      <li>Sorin S5 pump</li>
      <li>Brat 2 cell saver</li>
      <li>Angiovac</li>
      <li>Rodefeld</li>
      <li>Centrimag</li>
      <li>CDI 100</li>
    </ul>
    <h3>Procedure Experience:</h3>
    <ul>
      <li>Pediatric cases</li>
      <li>adult cases</li>
      <li>circulatory arrest</li>
      <li>Aortic Valve Replacements/Repairs</li>
      <li>Mitral Valve Replacements/Repairs</li>
      <li>Tricuspid Valve Replacements/Repairs</li>
      <li>Cornary Artery Bypass Grafts</li>
      <li>ECMO</li>
      <li>Carotid Perfusion</li>
      <li>Hemi-Fontan</li>
      <li>Fontan</li>
      <li>Norwood</li>
      <li>Ventricular Septal Defects</li>
      <li>Atrial Septal Defects</li>
      <li>Ross Procedures</li>
      <li>AV-Canal Closure</li>
      <li>Tetralogy Of Fallot</li>
      <li>Hemi-Truncus Repair</li>
      <li>Partial Anomalous Pulmonary Venous Repair</li>
      <li>Double Lung Transplant’s</li>
      <li>Heart Transplants</li>
      <li>Ventricular Assist Device Implants</li>
      <li>Aortic Dissection/Aneurysm’s</li>
      <li>Left Heart-Bypass</li>
    </ul>
    
  </div>
