*{
  margin:0;
}
html{
  background:#f0f0f0;
  font-family: Arial;
}
p{
  font-size: 16px;
  margin-top: 1em;
}
h1, h2, h3{
  margin-top:1em;
}
li{
  list-style: none;
}
ul{
  display: inline-block;
}
#container{
  background:#fff; 
  width: 80%;
  margin:0 auto;
  padding:25px;
}
#header{
  font-size: 1.2em;
}
#header img{
  margin-right: 1em;
}
#info {
  display: inline-block;
  vertical-align: top;
}
#info p{
  margin: 0;
}
#linkedin{
  border:none;
  width: 50px;
  margin-top: 5px;
}
#about{
  width: 100%;
}
#about h1{
  margin-bottom: 0;
  border-bottom: 2px solid gray;
}
#resume{
  width: 100%;
}
#contact{
  /*border:1px solid red;*/
}


@media screen and (device-aspect-ratio: 40/71) {
  h1, h2, h3{
    font-size:4em;
  }
  h1{
    margin-top:.1em;
  }
  p, a, li{
    font-size: 2.5em;
  }
  #linkedin{
    width: 100px;
  }
  #about h1{
    margin-top:1em;
  }
  #contact p{
    margin-left:1em;
  }
  #tag1{
    font-size: 2.5em;
    margin-top: 1em;
  }
  form{
    margin-left: 2em;
  }
  #first_name, #last_name, #email_address{
    width: 45%; 
    height: 59px;
    line-height: 40px; 
    font-size: 2em;
  }
  #notes{
    width: 50%; 
    height: 200px;
    line-height: 40px; 
    font-size: 2em;
  }
    #submit_form_button{
    width: 40%;
    padding: 40px 10px;
    font-size: 2em;
    margin-top:50px;
  }
}


