*{
  margin:0;
}
html{
  background: #2c878a;;
  font-family: Arial;
}
p{
  font-size: 16px;
}
h1, h2, h3{
  color:#C24641;
  margin-top:1em;
}
a{
  color:#4a4a4a;
}
li{
  list-style: none;
}
ul{
  display: inline-block;
}
#container{
  background:#fff; 
  margin:0 auto;
  padding: 25px 80px;
  width: 65%;
}
#header{
  font-size: 1.2em;
}
#header img{
  margin-right: 1em;
}
#info {
  display: inline-block;
  vertical-align: top;
}
#info p{
  margin: 0;
}
#linkedin{
  border:none;
  width: 50px;
  margin-top: 5px;
}
#about{
  width: 100%;
}
#about h1{
  margin-bottom: 0;
  border-bottom: 2px solid gray;
}
#about p{
  margin-top: 1em;
}
#resume{
  width: 100%;
}
#contact h1{
  margin-bottom:0;
  border-bottom:2px solid gray;
}
#contact p{
  margin:15px 0;
}
footer{
  padding: 15px 80px;
  width: 65%;
  height:5em;
  margin: 0 auto;
  background:#4a4a4a;
}
footer p{
  color:#fff;
  margin:3% auto;
  width: 58%;
}
footer a{
  color:#fff;
  text-decoration: none;
  border-bottom:1px dashed #fff;
}


@media screen and (device-aspect-ratio: 40/71) {
  
  html{
    width:100%;
  }
  h1, h2, h3{
    font-size:4em;
  }
  h1{
    margin-top:.1em;
  }
  p, li{
    font-size: 2.5em;
  }
  a{
    font-size: 2.3em;
  }
  #container{
    padding: 25px;
    width: 80%;
  }
  #linkedin{
    width: 120px;
  }
  #about h1{
    margin-top:1em;
  }
  #contact h1{
    margin-top:1em;
  }
  #contact p{
    margin-left:1em;
    margin-top: 0;
  }
  #tag1{
    font-size: 3em;
    margin-top: 1em;
  }
  #first_name, #last_name, #email_address{
    width: 80%; 
    height: 59px;
    line-height: 40px; 
    font-size: 3em;
  }
  #notes{
    width: 85%; 
    height: 200px;
    line-height: 40px; 
    font-size: 3em;
  }
  #submit_form_button{
    width: 40%;
    padding: 40px 10px;
    font-size: 3em;
    margin-top:50px;
  }
  footer{
    padding: 15px 79px;
    width: 69%;
    height:8em;
    margin: 0 auto;
  }
  footer p{
    margin:2% auto;
    width: 105%;
  }
  footer a{
    font-size: inherit;
    color:#fff;
    text-decoration: none;
    border-bottom:1px dashed #fff;
  }
}